<div  class="bg-white border border-gray-200 rounded-lg p-4 cursor-pointer shadow-sm hover:shadow-md hover:border-gray-300">

  <div class="font-medium  flex items-center gap-2">
    <span class="material-symbols-outlined text-lg px-1 border rounded-sm">
      article
    </span>
    <div>
      <p class="text-sm font-semibold">{{ 'dsf' }}</p>
      <p class="text-xs text-gray-500">{{ 'sdf'}}</p>
    </div>
    <!-- <span *ngIf="doc.draft" class="text-xs bg-gray-200 px-2 py-0.5 rounded">
      DRAFT
    </span> -->
  </div>

  <div class="text-xs pt-3 text-gray-400">{{ 'fdsf' }}</div>
</div>
