<div class="flex  gap-4">
  <div class="flex-1 p-4 md:w-full w-[100vw]  h-screen ">
    <div *ngIf="contentAvailable;else noContentTemplate">
      <div class="flex justify-between items-center">
        <app-breadcrumb [category]="currentTechnology"></app-breadcrumb>
        <div>
          <span (click)="edit()" class="material-symbols-outlined cursor-pointer">
            edit_note
          </span>
        </div>
      </div>
      <app-editor [mode]="editorMode" [data]="content" (content)="handleContent($event)"
        [contentData]="content"></app-editor>
    </div>
    <ng-template #noContentTemplate>
      <div class="flex flex-col items-center justify-center h-96 text-center text-gray-500">
        <span class="material-symbols-outlined text-6xl mb-4">description</span>
        <h2 class="text-2xl font-semibold mb-2">No Content Available</h2>
        <p class="text-sm cursor-pointer hover:text-blue-600" [routerLink]="'/create-new/' + currentId">Please click
          here to add the content.</p>
      </div>
    </ng-template>
  </div>
  <!-- <div *ngIf="contentAvailable" class="flex-shrink-0">
    <app-content-tags></app-content-tags>
  </div> -->
</div>
