<div *ngIf="mode() == 'view'" class="rounded-lg shadow-sm">
  <notion-editor #editorElem readonly="true" style="display: block; width: 100%;"></notion-editor>
</div>
<div *ngIf="mode() == 'edit'" class="rounded-lg shadow-sm ">
  <div class="flex justify-end">
    <button (click)="getContent()"
      class="rounded-md  bg-emerald-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-emerald-700 focus:shadow-none active:bg-emerald-700 hover:bg-emerald-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
      type="button">
      Save
    </button>
  </div>
  <notion-editor #editorElem readonly="false" style="display: block; width: 100%;"></notion-editor>
</div>
