<div class="p-4 w-[20vw] bg-white border-r h-screen">
  <ng-container *ngFor="let item of menuItems">

    <!-- LEVEL 1 -->
    <div
      class="px-2 py-1 mb-1 flex items-center gap-3 rounded-md cursor-pointer
             hover:bg-gray-100 text-sm font-medium"
      [class.bg-blue-50]="selectedMenuItem === item.id"
      [class.text-blue-600]="selectedMenuItem === item.id"
      (click)="selectMenuItem(item)"
      [routerLink]="!item.hasItems ? item.url : null"
    >
      <span class="material-symbols-outlined text-xl">
        {{ item.icon }}
      </span>

      <span class="flex-1">{{ item.label }}</span>

      <span
        *ngIf="item.hasItems"
        class="material-symbols-outlined transition-transform duration-200"
        [class.rotate-180]="item.isOpen"
      >
        keyboard_arrow_down
      </span>
    </div>

    <!-- LEVEL 2 -->
    <div *ngIf="item.hasItems && item.isOpen" class="ml-6 mt-1 space-y-1">

      <ng-container *ngFor="let child of item.children">

        <div
          class="px-2 py-1 flex items-center gap-2 rounded-md text-sm cursor-pointer
                 hover:bg-gray-100"
          [class.bg-blue-50]="selectedMenuItem === child.id"
          [class.text-blue-600]="selectedMenuItem === child.id"
          (click)="selectMenuItem(child)"
          [routerLink]="!child.hasItems ? child.url : null"
        >
          <span class="material-symbols-outlined text-lg">
            {{ child.icon }}
          </span>

          <span class="flex-1">{{ child.label }}</span>

          <span
            *ngIf="child.hasItems"
            class="material-symbols-outlined text-base transition-transform duration-200"
            [class.rotate-180]="child.isOpen"
          >
            keyboard_arrow_down
          </span>
        </div>

        <!-- LEVEL 3 -->
        <div
          *ngIf="child.hasItems && child.isOpen"
          class="ml-6 space-y-1"
        >
          <div
            *ngFor="let subChild of child.childern"
            [routerLink]="subChild.url"
            (click)="selectedMenuItem = subChild.id"
            class="flex items-center gap-2 px-2 py-1 text-sm rounded-md cursor-pointer
                   hover:bg-gray-100"
            [class.bg-blue-50]="selectedMenuItem === subChild.id"
            [class.text-blue-600]="selectedMenuItem === subChild.id"
          >
          <span class="material-symbols-outlined text-lg">
            {{ child.icon }}
          </span>

          <span class="flex-1">{{ child.label }}</span>
          </div>
        </div>

      </ng-container>

    </div>

  </ng-container>
</div>
