<app-dialog>
    <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <h3 class="text-base font-semibold text-gray-900" id="dialog-title">{{dialogTitle()}}</h3>
                    <div class="mt-2">
                        <p class="text-sm text-gray-500">{{dialogContent()}}</p>
                    </div>
                </div>
            </div>
            <div [formGroup]="dialogForm">
                <div class="w-full my-2 mx-3 max-w-sm">
                    <label class="block mb-2 text-sm text-slate-600">
                        Technology
                    </label>
                    <input type="text" formControlName="name"
                        class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
                        placeholder="Enter Name" />
                </div>
                <div class="w-full my-2 mx-3 max-w-sm">
                    <label class="block mb-2 text-sm text-slate-600">
                        Description
                    </label>
                    <input type="text" formControlName="description"
                        class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
                        placeholder="Enter Description" />
                </div>
            </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button type="button" (click)="onDialogOutput()"
                [ngClass]="dialogOutputButton().includes('Delete')? 'bg-red-600 hover:bg-red-500' : 'bg-emerald-600 hover:bg-emerald-500'"
                class="inline-flex w-full justify-center rounded-md  px-3 py-2 text-sm font-semibold text-white shadow-xs sm:ml-3 sm:w-auto">{{dialogOutputButton()}}</button>
            <button type="button" (click)="onCloseDialog()"
                class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs ring-1 ring-gray-300 ring-inset hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
        </div>
    </div>
</app-dialog>