<div class="w-full">
<app-hero></app-hero>

  <app-recent-docs [docs]="recentContent"></app-recent-docs>
  <div class="mt-8">
    <h2 class="text-lg font-semibold mb-4">Discover what’s happening</h2>

    <div class="flex gap-2 mb-4">
      <button class="px-3 py-1.5 rounded-full bg-blue-600 text-white text-sm">
        Content
      </button>
      <button class="px-3 py-1.5 rounded-full border text-sm">Popular</button>
      <button class="px-3 py-1.5 rounded-full border text-sm">Blogs</button>
    </div>

    <div class="">
      <app-feed-card (click)="navigateTo(item)" *ngFor="let item of feed" [item]="item">
      </app-feed-card>
    </div>
  </div>
</div>
