<div class="relative isolate ">

    <div class="mx-auto max-w-4xl py-4 mb-10">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <div
                class="relative rounded-full px-3 py-1 text-sm/6 text-slate-600 ring-1 ring-slate-900/10 hover:ring-slate-900/20">
                Writing about Web Development, JavaScript, Angular, and AWS.
                <a href="#" class="font-semibold text-emerald-600">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    Explore blogs <span aria-hidden="true">→</span>
                </a>
            </div>
        </div>

        <div class="text-center">
            <h1 class="text-5xl  font-semibold  text-balance text-slate-900">
                Discover my latest blogs and articles
            </h1>

            <p class="mt-8 text-lg font-medium text-pretty text-slate-600 sm:text-xl/8">
                A personal blog by Sumanth Nagireddi, sharing practical insights and experiences in web development
                using JavaScript, Angular, React, Node.js, and cloud technologies.
            </p>

            <div class="hidden md:flex items-center justify-center gap-4 flex-1 mx-4 mt-4">
                <div class="flex-1 max-w-sm">
                    <input type="text" placeholder="Search" class="w-full px-3 py-2 rounded-md border border-gray-400/70 text-sm
              focus:ring-2 focus:ring-blue-500" />
                </div>
                <button
                    class="bg-emerald-600/90 font-medium text-white text-base px-6 py-1.5 rounded-md hover:bg-emerald-600">
                    Search
                </button>
            </div>
            <!-- <div class="mt-10 flex items-center justify-center gap-x-6">
                <a
                    class="rounded-md cursor-pointer bg-emerald-600 px-4 py-2.5 text-sm font-semibold text-white shadow hover:bg-emerald-700 transition">
                    Get Started
                </a>

                <a class="text-sm cursor-pointer font-semibold text-slate-900 hover:text-emerald-600 transition">
                    Browse all blogs <span aria-hidden="true">→</span>
                </a>
            </div> -->
        </div>
    </div>

</div>

<div class="py-4 px-4 ">
    <div class="pb-4">
        <div class="flex justify-between items-center">
            <h2 class="font-medium text-lg">Recent blog posts</h2>
            <div class="flex items-center gap-4">
                <button
                    class="inline-flex items-center justify-center rounded-lg bg-emerald-600 px-4 py-1.5 font-medium text-gray-50 transition-colors duration-200 ">Create
                    Blog</button>
                <span class="material-symbols-outlined cursor-pointer hover:text-blue-600">
                    settings
                </span>
            </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 my-4">
            <ng-container *ngFor="let blog of blogs; let i = index">
                <article class="rounded-lg border border-gray-300/50 bg-white p-4 shadow transition sm:p-6">
                    <span class="inline-block rounded-sm bg-blue-600 p-2 text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
                            <path
                                d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
                            </path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
                            </path>
                        </svg>
                    </span>

                    <a href="#">
                        <h3 class="mt-0.5 text-lg font-medium text-gray-900">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        </h3>
                    </a>

                    <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
                        pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis
                        quidem, mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius
                        atque dignissimos. Molestias explicabo corporis voluptatem?
                    </p>

                    <a href="#" class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-blue-600">
                        Find out more

                        <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
                            →
                        </span>
                    </a>
                    <div class="text-xs text-gray-500 mt-1">
                        Owned by Sumanth Nagireddi • {{ 'Dec 28 2025'}}
                    </div>
                    <div class="flex gap-3 mt-3">
                        <span
                            class="inline-flex items-center justify-center rounded-lg bg-emerald-100 px-4 py-1 text-emerald-700">


                            <p class="text-sm whitespace-nowrap">Technology</p>
                        </span>

                    </div>
                </article>
            </ng-container>
        </div>
    </div>

    <h2 class="font-medium text-lg">All blog posts</h2>
    <div>
        <div class="grid grid-cols-1  h-full gap-6 my-4">
            <!-- <div *ngFor="let item of blogs">
            <app-blog-card [data]="item" />
        </div> -->
            <div class="w-full border-b border-gray-300">
                <nav class="flex gap-6 -mb-px" aria-label="Tabs">
                    <a *ngFor="let tab of tabNames" (click)="updateCurrentTab(tab)"
                        class="flex-shrink-0 cursor-pointer border-b-2 px-1 pb-2 text-sm font-medium" [ngClass]="
        currentTab() === tab.name
          ? 'border-emerald-600 text-emerald-600 hover:text-emerald-700 hover:border-emerald-600'
          : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'
      ">
                        {{ tab.name }}
                    </a>
                </nav>
            </div>
            <div class="w-full grid grid-cols-1 gap-6 mt-1 ">
                <ng-container *ngFor="let blog of blogs; let i = index">
                    <div
                        class="rounded-lg cursor-pointer hover:shadow-lg border border-gray-200 bg-white p-4 shadow transition  sm:p-6">
                        <span class="inline-block rounded-sm bg-blue-600 p-2 text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
                                <path
                                    d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z">
                                </path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222">
                                </path>
                            </svg>
                        </span>

                        <a href="#">
                            <h3 class="mt-0.5 text-lg font-medium text-gray-900">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            </h3>
                        </a>

                        <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dolores, possimus
                            pariatur animi temporibus nesciunt praesentium dolore sed nulla ipsum eveniet corporis
                            quidem, mollitia itaque minus soluta, voluptates neque explicabo tempora nisi culpa eius
                            atque dignissimos. Molestias explicabo corporis voluptatem?
                        </p>

                        <a href="#" class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-blue-600">
                            Find out more

                            <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
                                →
                            </span>
                        </a>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>